@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --first-white: #fff;
  --first-orange: #f9ab00;
  --first-dark: rgba(255,255,255,0);
  --second-dark: #000;
}

/************** Navbar *********************/

.navbar {
  z-index: 2;
}

.logo {
 font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--first-white);
  margin-top: 1.25rem;
  font-family: "Dela Gothic One";
}

/************ links ***************/

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav >  li  > a {
  margin-right: 0.75rem;
  color: var(--first-white) !important;
  border-top:  0.1875rem solid var(--first-dark);
}

.navbar-brand {
  max-width: 17025rem;
  padding: 0;
  height: 5rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus
 {
    border-top:  0.1875rem solid var(--first-white);
}


.navbar-nav > li > a:hover {
  border-top:  0.1875rem solid var(--first-white);
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: #fff !important;
}

.navbar-toggler:focus {
  
  box-shadow: none !important;
}

/**********************Header*************/

.header-wraper {
  position: relative;
  background: url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 2;
}

.main-info h1 {
  color: var(--first-white);
  text-transform: uppercase;
}


/************* typed text ************/
.typed-text {
  font-size: 2rem;
  color: var(--first-white);
}

/* Headere main offer */
 .btn-main-offer {
    border: 1px solid var(--first-white);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--first-white);
    margin: 2rem;
    cursor: pointer;
    
 }

 .btn-main-offer:hover {
   text-decoration: none;
   background-color: var(--first-white);
   color: var(--second-dark);
   
 }

 /* Particales */

 .tsparticles-canvas-el {
   position: absolute;
   height: 100vh;
   width: 100vw;
   z-index: 1;
 }


 @media (max-width: 768px) {
   .particles-canvas {
     display: none;
   }

   .main-info h1 {
     font-size: 1.7rem;
   }

   .typed-text {
     font-size: 1.3rem;
   }

   .logo {
    font-size: 1rem;
    margin-top: 25px;
   }
 }