@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --first-white: #fff;
  --first-orange: #f9ab00;
  --first-dark: rgba(255,255,255,0);
  --second-dark: #000;
}

/************** Navbar *********************/

.navbar {
  z-index: 2;
}

.logo h2{
 font-size: 1.5rem;
 position: relative;
  text-transform: uppercase;
  color: #343a40!important;
  margin-top: 1rem;
  -webkit-text-stroke: 0.06vw var(--first-white);
}

.logo h2::after {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  width: 0;
  height: 100%;
  color: var(--first-white);
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid var(--first-white);
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate 
{
   0%,10%,100% {
     width: 0;
   }  

   70%,90% {
    width: 100%;
  }  

  
}

/************ links ***************/

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav >  li  > a {
  margin-right: 0.75rem;
  color: var(--first-white) !important;
  border-top:  0.1875rem solid var(--first-dark);
}

.navbar-brand {
  max-width: 17025rem;
  padding: 0;
  height: 5rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus
 {
    border-top:  0.1875rem solid var(--first-white);
}


.navbar-nav > li > a:hover {
  border-top:  0.1875rem solid var(--first-white);
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: #fff !important;
}

.navbar-toggler:focus {
  
  box-shadow: none !important;
}

/**********************Header*************/

.header-wraper {
  position: relative;
  background: url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 2;
}

.main-info h1 {
  color: var(--first-white);
  text-transform: uppercase;
}


/************* typed text ************/
.typed-text {
  font-size: 2rem;
  color: var(--first-white);
}

/* Headere main offer */
 .btn-main-offer {
    border: 1px solid var(--first-white);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--first-white);
    margin: 2rem;
    cursor: pointer;
    
 }

 .btn-main-offer:hover {
   text-decoration: none;
   background-color: var(--first-white);
   color: var(--second-dark);
   
 }

 /* Particales */

 .tsparticles-canvas-el {
   position: absolute;
   height: 100vh;
   width: 98vw !important;
   z-index: 1;
 }


 @media (max-width: 768px) {
   .particles-canvas {
     display: none;
   }

   .main-info h1 {
     font-size: 1.7rem;
   }

   .typed-text {
     font-size: 1.3rem;
   }

   .logo {
    font-size: 1rem;
    margin-top: 25px;
   }
 }

 /* ***********About Me********* */



 .section_subtitle {
   margin-bottom: 30px;
   padding-left: 7px;
   font-size: 25px;
   text-transform: uppercase;
   border-left: 3px solid var(--second-dark);
   font-weight: 700;
 }

.section_main_title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 300;
  text-transform: uppercase;
}

 .about-section {
   margin-top: 6.25rem;
   margin-bottom: 7.5rem;
 }

 .about-me {
   margin-right: 30px;
 }

 .me-img {
   width: 100%;
 }

 .about-box {
   -webkit-box-shadow: 0 0 0 10px var(--second-dark) inset;
   box-shadow: 0 0 0 10px var(--second-dark) inset;
   margin-right: 0;
   margin-top: 0;
   position: relative;
   display: block;
 }

 .about-overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: var(--second-dark);
   opacity: 0.5;
   z-index: 3;
   transform: translateY(30px) translateX(-30px);
  -webkit-transform: translateY(30px) translateX(-30px);
 }

 .about-box img {
  transform: translateY(30px) translateX(-30px);
  -webkit-transform: translateY(30px) translateX(-30px);
  width: 100%;
  z-index: 1;
 }

@media (max-width: 768px) {
  .about-box {
    display: none;
  }
}


/**********************skills section**************************/

.skills_title {
  margin-bottom: 30px;
   padding-left: 7px;
   font-size: 25px;
   color: var(--first-white);
   text-transform: uppercase;
   border-left: 3px solid var(--first-white);
   font-weight: 700;
}


.bg {
  background: linear-gradient(to right, #171717, #434343);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 40px;
}

.skills ul {
  display: flex;
 flex-wrap: wrap;
justify-content: space-between;
}

.skills li {
  color: var(--first-white);
  text-transform: uppercase;
  padding: 20px;
  flex: 50%;
}

.skills li::marker {
  content: '\f054';
  font-family: 'Font Awesome 5 free';
  font-weight: 700;
}
